{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if user.id == object.author_id%}
           
            <button type="button" class="btn btn-outline-warning"  onclick="location.href='{% url 'update-post' object.id %}'">Update</button>
            <!-- <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'delete-post' object.id %}'">Delete</button> -->
            <button type="button" class="btn btn-outline-danger" onclick="myFunction()">Delete</button>
            {% endif %} 
          </div>
        </article>
 
        <script>
          function myFunction() {
            var txt;
            var r = confirm("Are you sure you want to delete this post");
            if (r == true) {
              location.href = '{% url 'delete-post' object.id %}';
            }
          }
          </script>        
{% endblock content %}

